$primary: #f4f6f5;
$text: rgb(38, 50, 56);
$red: #e74c3c;
$grey: #546e7a;
$green: #8bc34a;
$bg: #263238;
$light-grey: #f4f6f5;
$tomato: #ef6c00;
$yellow: #fcb322;


$large-bp: 1150px;
$medium-bp: 900px;
$small-bp: 540px;
$extra-small-bp: 520px;
$smallest-bp: 420px;