@import "vars";
@import "global";
@import "fonts";

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 25px;
  color: $grey;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 9px;
  width: 72px;
  border-radius: 4px;

  &-login {
    background-color: $green;
  }

  &-register {
    background-color: $red;
    margin-left: 7px;
  }
}