.pagination {
  margin-top: 30px;
}
.pagination-list {
  display: flex;
  justify-content: flex-start;
}
.pagination-list__item {
  width: 43px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #ffffff;
  color: $bg;
  @include f500;
  box-shadow: 0 1px 2px 0 rgba(205, 214, 222, 0.75);
  transition: all .3s ease;
  & + .pagination-list__item {
    margin-left: 8px;
  }
  a {
    display: block;
  }

  &.active, &:hover {
    background-color: $red;
    color: #ffffff;
    a {
      background-color: $red;
      color: #ffffff;
    }
  }
}

